body{
    display: contents;
    justify-content: center;
    height: 100hv;
}
#one{
    border: 2px solid black;
    height: 400px;
    width: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    border-radius: 11px;
    flex-direction: column;
}
form{
    height: 100px;
    width: 100px;
   
}
button{
    height: 10px;
    width: 10px;
    border: none;
    background-color: orange;
    font-size: medium;
}